@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.resizable {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.resizable .resizers {
  width: 100%;
  height: 100%;
  border: 3px solid #4286f4;
  box-sizing: border-box;
}

.resizable .resizers .resizer {
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
/* background: white;
  border: 3px solid #4286f4;
  position: absolute;
} */
/*
.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; 
}
.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
} */

/* Resizable Parent */
/* Resizable Parent */
.resizable-parent {
  position: relative;
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  overflow: hidden; /* Prevent child divs from overflowing */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Resizable Child */
.childDiv {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border: 1px solid #ddd;
  margin: 0; /* Remove default margin */
}

/* Resizer Handle */
.childDiv-resizer {
  width: 10px;
  height: 10px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize; /* Cursor for the bottom right corner */
}
